body {
  font-family: 'Raleway', sans-serif; 
  margin: auto;
  padding: 0 3%;
}

nav li {
  list-style: none;
  display: inline-block;
}

.jobLi li {
  list-style-type: circle;
}

footer {
  margin: 2%;
  text-align: center;
  font-size: .8em;
}

footer a img {
  width: 2%;
}